// Fonts
$main-font-bold: Metropolis-Bold;
$main-font-medium: Metropolis-Medium;

// Colors
$base-color: #000000;
$secondary-text-color: #8989A2;
$visual-color: #722ED1;
$visual-white-color: #ffffff;

// Margins
$marginM: 24px;
$marginS: 16px;


// Media-breakpoints
$breackpoint-laptop: 1024px;
$breackpoint-tablet: 768px;
$breackpoint-mobileL: 425px;
$breackpoint-mobileS: 320px;

// transition in companies
$compain-transition: all .5s ease;
