@import 'components/modals/header-top/header-top';
@import 'header-body/header-body';
@import 'header-body/media-header-body';

.header {    
    overflow-y: auto;
    
    &__background {
        background: linear-gradient(180deg, #FFFFFF 0%, #E2F1FF 100%);
        clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
        
        padding-bottom: 100px;

        min-height: 700px;
    }
}

@import 'media-header';