@include tablet {
    .big-data{
        transition: all .5s ease;

        .steps {
            flex-direction: column;

            max-width: 300px;
            margin-top: 45px;
    
            &__block:not(:first-child) {margin-top: 40px;}
            
            .steps__block.active {animation-delay: .2s;}
        }
    }
}

