.data-driven {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 160px;

    &__info {
        @extend %info;
        max-width: max-content;
        opacity: 0;

        &.active {
            animation: slideRight 1s ease forwards;
            animation-delay: .1s;
        }
    }

    &__title {
        @extend %title;
        opacity: 0;

        &.active {
            animation: slideRight 1s ease forwards;
            animation-delay: .2s;
        }
    }

    &__text {
        @extend %text;
        max-width: 700px;
        opacity: 0;

        &.active {
            animation: slideRight 1s ease forwards;
            animation-delay: .3s;
        }
    }

    &__image {
        opacity: 0;

        &.active {
            animation: slideLeft 1s ease forwards;
            animation-delay: .2s;
        }
    }
}

@import 'media-data-driven'