.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #FBFCFF;
    
    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding-top: 60px;
    }


    // First footer block
    &__description {max-width: 200px;}

    &__text {
        margin-top: 20px;
        line-height: rem(20);
    }

    &__social {margin-top: 20px}

    &__social-link:not(:last-child) {margin-right: 16px}


    // Margin beetwen blocks
    &__block {margin-right: 40px;}


    // Style title
    &__title {
        white-space: nowrap;
        font-size: rem(16);
        line-height: 16px;
    }

    
    // Style other things
    &__list,
    &__newsletter-input-group {margin-top: 20px}

    &__description-text,
    &__link {font-size: rem(12);}

    &__list-item:not(:last-child) {margin-bottom: $marginS;}


    // Newsletter block
    &__newsletter-input-group {
        width: 100%;
        position: relative;
    }

    &__newsletter-input {
        padding: 12px 16px;

        border: 0;
        border-radius: 4px;

        outline: none;

        font-size: rem(12);
        
        filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.051));
    }

    &__newsletter-label {
        position: absolute;

        font-size: rem(12);
        color: $secondary-text-color;
        
        padding: 12px 16px;
        width: 100%;
        
        top: 0;
        left: 0;

        transition: all .3s ease;
    }

    .footer__newsletter-input:focus~.footer__newsletter-label,
    .label-active {
        top: -27px;
        font-size: rem(11);
    }

    .error {border: 1px solid #ff3333;}

    &__newsletter-button {
        position: absolute;
        
        top: 10px;
        right: 10px;
        
        background-color: #ffffff;

        border: 0;
    }


    // Copyright
    &__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-top: 60px;
        margin-bottom: 20px;

        &-name {
            font-size: rem(16);
            margin-right: 8px;
        }

        &-symbol {font-size: rem(26);}
    }
}

@import 'media-footer'